<p><strong>Operating Systems</strong> Linux, Windows, Mac OS</p>
<p><strong>Programming Languages</strong> Java, C, Angular, PHP, HTML, CSS, JavaScript Build Tools: Gradle, Maven</p>
<p><strong>Database</strong> MySQL, CloudSQL, Reddis, MongoDB</p>
<p><strong>Server</strong> Apache Tomcat, Nginx</p>
<p><strong>Framework</strong> Spring Boot, Spring, Laravel, Bootstrap, Materialize Content Management System: WordPress,
    Drupal</p>
<p><strong>Development IDEs</strong> Netbeans, Eclipse, Visual Studio Code, Sublime Text Project Management Tool: Jira,
    Asana</p>
<p><strong>Version Control</strong> Git, Subversion</p>
<p><strong>Continuous Integration</strong> Jenkins</p>
<p><strong>Other Utilities</strong> LDAP, ELK Stack, Office Utility, Photoshop, GIMP, Corel</p>