<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/cisco.png" class="company-logo" />
    </div>
    <div class="col-md-8 offset-md-1">
        <h4 class="experience-title">Software Engineer</h4>
        <h6 class="experience-info"><a href="https://www.cisco.com">Cisco Systems (India) Pvt. Ltd.</a>
        </h6>
        <h6> Chennai, India | May, 2018 - Present</h6>
        <div class="experience-desc">
            <ul>
                <li>Involved in development of a web based network testing tool using Java, JavaScript and WebRTC</li>
                <li>Designed framework for different Portals using Angular</li>
                <li>Worked on securing web application from external threats</li>
                <li>Involved in creating Jenkins jobs for CICD</li>
                <li>Implemented a Code Review process for all the development and testing done for a product
                </li>
                <li>Deploying Multinode application using Docker Swarm</li>
                <li>Hardening of Docker images using ansible</li>
                <li>Added git-hooks for making the code review process mandatory to make the product more robust and
                    secure</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/broadsoft.png" class="company-logo" />
    </div>
    <div class="col-md-8 offset-md-1">
        <h4 class="experience-title">Junior Software Engineer</h4>
        <h6 class="experience-info"><a href="https://www.broadsoft.com">Broadsoft Technologies Pvt. Ltd.</a>
        </h6>
        <h6>Chennai, India | July, 2016 - May, 2018</h6>
        <div class="experience-desc">
            <ul>
                <li>Development of Rest API using Java to fetch data from MySQL and Elasticsearch</li>
                <li>Designed the Device Provisioning Portal using Java, JavaScript, JQuery, HTML5, CSS3.
                </li>
                <li>Worked on the improvement of performance and User Experience for the Dashboard</li>
                <li>Created customizable Grid for widgets</li>
                <li>Created Graphs using different JavaScript chart libraries</li>
                <li>Deployed all the component as Microservices using Docker</li>
                <li>Deployment in Google Cloud Platform</li>
                <li>Maintaining status of a project using JIRA</li>
                <li>Statistics page using ELK Stack</li>
                <li>Developed a Collector using Java and Jiplet to collect RTCPXR metrics from Phones and
                    Soft Clients.</li>
                <li>Wrote JUnit and JMeter Test Cases and performed Sanity Testing</li>

            </ul>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/novatree.png" class="company-logo" />
    </div>
    <div class="col-md-8 offset-md-1">
        <h4 class="experience-title">Software Engineer - Intern</h4>
        <h6 class="experience-info"><a href="https://www.novatree.com">Novatree eSolutions Private
                Limited.</a>
        </h6>
        <h6>Kolkata, India | January, 2016 - April, 2016</h6>
        <div class="experience-desc">
            <ul>
                <li>Frontend development using HTML5, CSS3, Bootstrap, JavaScript, JQuery</li>
                <li>NoSQL database using MongoDB</li>
                <li>Version controlling using Git</li>
                <li>eCommerce website using Drupal</li>
                <li>Corporate Fantasy Cricket League website using Drupal</li>
                <li>Portfolio Website for an NGO using Drupal</li>
                <li>Tours and Travels Website using Laravel</li>
            </ul>
        </div>
    </div>
</div>
<hr>