body{
    background-color: #111;
}
blockquote {
    margin: 2rem 1rem 1rem;
    padding: 3px;
    background: whitesmoke;
    border: 1px solid;
}
.skills-img{
    width: 85px;
    height: 85px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px; background-color: #fff
}
.padding-top-5{
    padding-top:5px !important;
}